* {
  box-sizing: border-box;
}

.grid-container {
  background-color: grey;
  display: grid;
  grid-template-columns: 200px 250px;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
}

.grid-item {
  background-color: aqua;
  padding: 10px;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-item-2 {
}

.grid-item-3 {
}
